Repository monitoring-plugins/monitoring-plugins, pull requests merged in 2022-01, with the labels that each got.

#1642 check_swap: Handle cached swap
  plugins/check_swap.c
Labels: check_swap

#1301 check_by_ssh: added option to exit with an warning, if there is output on STDERR
  plugins/check_by_ssh.c
Labels: approvedPR, check_by_ssh

#1496 Added option for null zero length string exit codes
  plugins/check_snmp.c
Labels: approvedPR

#1412 [check_ping] understang ping6 output from iputils package
  plugins/check_ping.c
Labels: bugfix, approvedPR, check_ping

#1424 Trivial source code whitespace formatting fixes to standard.
  plugins/check_ping.c
Labels: bugfix

#1695 Trivial printf fix and a little bit of code style
  plugins/check_disk.c
Labels: check_disk

#1740 Implements 'host-alive' mode (Closes. #1027)
  plugins/check_fping.c
Labels: enhancement, check_fping

#1737 Point to Icinga Exchange instead of dead Monitoring Exchange
  doc/developer-guidelines.sgml
Labels: documentation

#1735 delay set_source_ip() until address_family is detected
  plugins-root/check_icmp.c
  plugins-root/t/check_icmp.t
Labels: debian, check_icmp

#1743 check_procs: Fix double percentage sign in usage
  plugins/check_procs.c
Labels: check_procs

#1746 check_disk: Description for -M was the wrong way around
  plugins/check_disk.c
Labels: check_disk
