Repository monitoring-plugins/monitoring-plugins, pull requests merged in 2023-10, with the labels that each got.

#1411 check_disk_smb: allow checking 0-sized resource (ex. IPC$)
  plugins-scripts/check_disk_smb.pl
Labels: check_disk_smb

#1904 check_disk: interpret -X' arg as pattern, not literal
  lib/utils_disk.c
  lib/utils_disk.h
  plugins/check_disk.c
  po/de.po
  po/fr.po
  po/monitoring-plugins.pot
Labels: check_disk

#1928 check_icmp: Add support to Jitter, MOS and Score
  .github/workflows/test.yml
  .gitignore
  plugins-root/check_icmp.c
  plugins-root/t/check_icmp.t
  po/de.po
  po/fr.po
  po/monitoring-plugins.pot
Labels: check_icmp

#1906 check_dhcp: merged patch from #752
  plugins-root/check_dhcp.c
  po/de.po
  po/fr.po
  po/monitoring-plugins.pot
Labels: check_dhcp

#1936 check_curl: Compiler warnings cast function type
  plugins/check_curl.c
Labels: check_curl

#1938 check_curl: fix compiler warnings for unused variables
  plugins/check_curl.c
  plugins/check_ldap.c
Labels: check_curl

#1940 check_dhcp: Fix for -Wunused-but-set-variable
  plugins-root/check_dhcp.c
Labels: check_dhcp
