Repository monitoring-plugins/monitoring-plugins, pull requests merged in 2023-01, with the labels that each got.

#1796 check_mailq: Fixing nullmailer regex
  plugins-scripts/check_mailq.pl
Labels: bugfix, debian, check_mailq

#1827 fix check_snmp regex matches
  plugins/check_snmp.c
Labels: check_snmp

#1745 check_disk: Clarify usage possibilites
  plugins/check_disk.c
Labels: check_disk
