Repository monitoring-plugins/monitoring-plugins, pull requests merged in 2024-03, with the labels that each got.

#1183 check_nwstat: adds percentage used space
  THANKS.in
  plugins/check_nwstat.c
Labels: enhancement, squash, check_nwstat

#1738 check_ssh: patches from op5
  plugins/check_ssh.c
  plugins/t/check_ssh.t
Labels: check_ssh

#1935 check_disk: Fail on missing arguments for --warning and --critical and fix a test case
  plugins/check_disk.c
  plugins/t/check_disk.t
  plugins/utils.c
  plugins/utils.h
Labels: check_disk
