Repository monitoring-plugins/monitoring-plugins, pull requests merged in 2024-10, with the labels that each got.

#2014 Check curl regex state
  plugins/check_curl.c
Labels: bugfix, debian, check_curl

#2022 fix check_curl: OpenSSL SSL_read: error:0A000126:SSL routines::unexpe…
  plugins/check_curl.c
Labels: debian, check_curl

#1637 check_ifstatus: Add -d switch
  plugins-scripts/check_ifstatus.pl
Labels: check_ifstatus

#2016 Fix/check ssh variable stuff
  plugins/check_ssh.c
Labels: debian, check_ssh
